.loader {
  border: var(--size-sm) solid var(--white);
  border-top: var(--size-sm) solid var(--black);
  border-radius: 50%;
  width: var(--size-lg);
  height: var(--size-lg);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}