.container_main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}

.container_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow-y: auto;
  width: 20%;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.container_content {
  width: 80%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
