* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0037ff;
  --secondary-color: #03A9F4;
  --error-color: #F44336;
  --text-color: rgba(0, 0, 0, 0.87);
  --background-color: #ffffff;
  --white: #ffffff;
  --black: #000000;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 90vh;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}
