.container_main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 100vw;
}

.container_list {
  width: 20%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--sec-bg-color);
}

.container_content {
  width: 80%;
  padding-left: var(--size-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.go_back_button{
  font-size: var(--font-md);
  background-color: var(--sec-bg-color);
  cursor: pointer;
  width: var(--size-lg);
  height: var(--size-lg);
  align-self: flex-start;
  margin: var(--size-md);
  position: absolute;
  align-content: space-around;
}